/*代理添加用户*/
.main-panel .add-account > .alert-warning {
    position: relative;
    width: 100%;
    height: 160px;
    line-height: 30px;
    color: #606060;
    background: #f6f1eb;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: none;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-panel .add-account > .alert-warning img {
    position: absolute;
    top: 0px;
    margin-right: 15px;
    object-fit: contain;
}

.main-panel .add-account > .alert-warning .words {
    position: absolute;
    left: 150px;
    right: 20px;
}

.main-panel .add-account > .form-horizontal .form-group{
	font-size: 15px;
}

.main-panel .add-account .help-block {
    margin-bottom: 0;
    font-size: 14px;
    color: #969595;
}