/AFSDB.pyc
/AVC.pyc
/CAA.pyc
/CDNSKEY.pyc
/CDS.pyc
/CERT.pyc
/CNAME.pyc
/CSYNC.pyc
/DLV.pyc
/DNAME.pyc
/DNSKEY.pyc
/DS.pyc
/EUI48.pyc
/EUI64.pyc
/GPOS.pyc
/HINFO.pyc
/HIP.pyc
/ISDN.pyc
/LOC.pyc
/MX.pyc
/NS.pyc
/NSEC.pyc
/NSEC3.pyc
/NSEC3PARAM.pyc
/PTR.pyc
/RP.pyc
/RRSIG.pyc
/RT.pyc
/SOA.pyc
/SPF.pyc
/SSHFP.pyc
/TLSA.pyc
/TXT.pyc
/URI.pyc
/X25.pyc
/__init__.pyc
