// 内容区域容器样式
.module-container {
    width: 100%;
    height: 100%;
    .container-wrap {
        width: 100%;
        background: #fff;
        padding: 0 20px 20px;
        position: relative;
    }
}

// 模块标题
.module-title {
    @include flex-base(space-between);
    width: 100%;
    line-height: 48px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    padding: 0 16px;
    span {
        &.more-data {
            color: $primary;
            cursor: pointer;
        }
    }
}

// 操作区域样式
.module-handle {
    @include flex-base(space-between);
    padding: 10px 20px;
    line-height: 36px;
    background-color: #fff;
}

// 筛选区域样式
.module-query {
    @include flex-base(space-between);
    align-items: flex-start;
    position: relative;
    width: 100%;
    padding: 14px 20px 0;
    border-bottom: 1px solid #ECECEC;
    background-color: #fff;
    .module-query-wrap {
        overflow-y: hidden;
        position: relative;
        transition: all .7s;
        .module-query-left {
            @include flex-base(left);
            flex-wrap: wrap;
        }
        p {
            position: absolute;
            z-index: 1;
            left: 0;
            bottom: 0;
            cursor: pointer;
            width: calc(100vw);
            height: 14px;
            text-align: center;
            margin-left: -20px;
        }
        .fold-icon {
            font-weight: bold;
            font-size: 16px;
            transition: all .3s;
            &.active {
                transform: rotate(-180deg);
            }
        }
    }
    .query-item {
        margin-right: 20px;
        margin-bottom: 14px;
        .label {
            display: inline-block;
            vertical-align: middle;
            width: auto;
            height: 36px;
            border-radius: 4px 0 0 4px;
            background-color: #fff;
            color: #333;
            padding: 6px 12px;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.7;
            text-align: center;
            border: 1px solid #DCDFE6;
            border-right: 0;
            box-sizing: border-box;
        }
        .el-select,
        .el-input,
        .el-date-editor {
            vertical-align: middle;
        }
        .el-input {
            width: auto;
        }
        .el-select {
            .el-input__inner {
                width: 120px;
            }
        }
        .el-input__inner {
            border-radius: 0 4px 4px 0;
        }
    }
}

// tabs导航
.module-tabs {
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #ECECEC;
    li {
        display: inline-block;
        color: #333333;
        line-height: 39px;
        padding: 0 20px;
        font-size: 14px;
        cursor: pointer;
        &:hover {
            color: $primary;
        }
        &.active-class {
            color: $primary;
            background-color: #F5F9FC;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 2px;
                background-color: $primary;
            }
        }
    }
}

// 表格通用样式
.module-table {
    padding: 0 16px;
    background-color: #fff;
    .table-item-title {
        display: inline-block;
        line-height: 30px;
        font-size: 16px;
        color: #333;
        cursor: pointer;
        &:hover {
            color: $primary;
        }
        .sentiment-icon {
            display: inline-block;
            width: 22px;
            height: 22px;
            line-height: 22px;
            font-size: 14px;
            color: #fff;
            text-align: center;
            margin-right: 6px;
        }
    }
    .table-item-summary {
        font-size: 14px;
        color: #6D6D6D;
    }
    .table-item-bottom {
        width: 100%;
        @include flex-base(space-between);
        margin: 10px 0 8px;
        .table-item-info {
            font-size: 12px;
            color: #999;
            i {
                margin-right: 20px;
            }
        }
    }
    .handle-btn {
        color: $primary;
        font-size: 15px;
        padding: 0 5px;
        cursor: pointer;
        &.notEvent {
            color: #bbb;
        }
        .handle-icon {
            position: relative;
            top: 2px;
            margin-right: 4px;
        }
    }
}

// 分页样式
.module-pagination {
    text-align: right;
    background: #fff;
    padding-top: 20px;
    &.hidden {
        display: none;
    }
}

// 总计样式
.module-summary {
    @include flex-base(left);
    background-color: #FAFAFA;
    border: 1px solid #EBEEF5;
    border-top: none;
    &.hidden {
        display: none;
    }
    &-item {
        padding: 12px 0;
        min-width: 0;
        box-sizing: border-box;
        text-overflow: ellipsis;
        vertical-align: middle;
        position: relative;
        text-align: left;
        border-right: 1px solid #EBEEF5;
        font-size: 15px;
        color: #333;
        &:last-child {
            border-right: none;
        }
    }
}

// 弹框最小高度
.module-form-scroll {
    width: 100%;
    height: 50vh;
}

// form 特殊情况
.form-handle-slot {
    padding-right: 6px;
    margin-bottom: 22px;
    &-title {
        background: #FBFBFB;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        text-align: left;
        line-height: 34px;
        font-size: 14px;
        color: #606266;
        padding-left: 34px;
    }
}