/BaseHTTPServer.pyc
/CGIHTTPServer.pyc
/MySQLdb.pyc
/Queue.pyc
/SimpleHTTPServer.pyc
/SocketServer.pyc
/__init__.pyc
/_socket_nodns.pyc
/asynchat.pyc
/asyncore.pyc
/builtin.pyc
/ftplib.pyc
/httplib.pyc
/os.pyc
/profile.pyc
/select.pyc
/selectors.pyc
/socket.pyc
/ssl.pyc
/subprocess.pyc
/thread.pyc
/threading.pyc
/time.pyc
/urllib2.pyc
/zmq.pyc
