<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>优惠活动</title>
    <!--BEGIN PLUGINS CSS-->
    <link rel="stylesheet" type="text/css" href="../../assets/plugins/plugins.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/plugins/layer/layer.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/plugins/layer/default.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />
    <!--BEGIN PAGE CSS-->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <!--BEGIN JQUERY JS-->
    <script type="text/javascript" src="../../assets/plugins/jquery.js"></script>
    <!--BEGIN TEMPLATE JS-->
    <script type="text/javascript" src="../../assets/js/template.js"></script>
    <!--BEGIN INIT JS-->
    <script type="text/javascript" src="../../assets/js/init0.js"></script>
    <script type="text/javascript" src="../../assets/js/init2.js"></script>
</head>

<body class="activity-index">
    <template id="global-slot">
        <div class="page-container">
            <div class="page-content">
                <div class="inner">
                    <div class="title-row">
                        <img src="images/title.png" alt="">
                    </div>
                    <!-- <div class="activity-list-title">
                        <img class="m-r-10" src="./images/list_title_icon.png" />
                        优惠活动
                    </div> -->
                    <div class="activity-list">
                        <div class="item activity">
                            <div class="pic"></div>
                            <div class="activity-info">
                                <div class="activity-title">充值抽奖活动</div>
                                <div class="activity-detail">当日首充200元即可参与</div>
                                <a class="item_btn" href="turntable.html">立即进入</a>
                            </div>
                        </div>
                        <!-- 无活动提示图 -->
                        <div div class="item none">
                            <div class="pic"></div>
                            <div class="activity-info">
                                <div class="activity-title">尚未开启 敬请期待</div>
                                <div class="activity-detail">Coming Soon</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- <div class="page-footer">
            <div class="divider"></div>
            <div class="footer-copyright-row">
                copyright © 壹佰娱乐 Lottery Entertainment 2019 Reserved
            </div>
            <div class="divider"></div>
        </div> -->
    </template>

    <script type="text/javascript">
        document.body.innerHTML = globalSingleSharedTpl();
    </script>

    <!--BEGIN PLUGINS JS-->
    <script type="text/javascript" src="../../assets/plugins/plugins.js"></script>
    <script type="text/javascript" src="../../assets/plugins/layer/layer.js"></script>
    <script type="text/javascript" src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--BEGIN COMMON JS-->
    <script type="text/javascript" src="../../assets/js/utils.js"></script>
    <script type="text/javascript" src="../../assets/js/service.js"></script>
    <script type="text/javascript" src="../../assets/js/global.js"></script>
    <!--BEGIN PAGE JS-->
    <script type="text/javascript" src="js/index.js"></script>
</body>

</html>